.akhdarApp {
  background-image: url("../../assets/imgs/landingAkhdarBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.akhdarAppImg {
  height: 90%;
  padding: 50px 50px;
  /* width: 100%; */
}

.appTexts {
  padding: 140px 80px;
}

.appTexts h5 {
  color: #fff;
  font-family: geMedium;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
}

.appTexts p {
  color: #fff;
  font-family: dinNext;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  text-align: right;
  width: 85%;
}

.appTexts hr {
  color: #f2d785;
  height: 4px !important;
  margin-top: 0 !important;
  opacity: 1 !important;
  padding-top: 0 !important;
  width: 80px;
}

@media screen and (max-width: 768px) {
  .akhdarAppImg {
    width: 100%;
    padding: 50px 0px 0px 0px;
  }

  .appTexts {
    padding: 40px 20px;
  }

  .appTexts p {
    width: 100%;
    font-weight: bold;
  }
}
