.news {
  background-color: #f6f6f6;
}

.newsTitle {
  color: #3e3e3e;
  font-family: "geMedium", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 35px;
}

.slideContainer {
  display: flex;
  align-items: center;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
}

.imgContainer img {
  width: 100%;
  max-width: 583px;
  height: auto;
  object-fit: cover;
  border-radius: 0 50px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 110px;
}

.slideTitle {
  direction: rtl;
  text-align: right;
}

.slideTitle h6 {
  font-family: "dinNext", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #5e5e5e;
}

.slideTitle h4 {
  color: #00b6bb;
  font-family: "geMedium", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}

.slideTitle p {
  font-family: "dinNext", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  padding: 15px 0;
}

.separator {
  background-color: #f2d785;
  height: 2px;
  width: 40px;
  margin-bottom: 15px;
}

.newsDetailsLink {
  font-family: "dinNext", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #00b6bb;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.arrowLeft {
  font-size: 14px;
  margin-right: 8px;
}

.showAllNews {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.showNewsLink {
  font-family: "dinNext", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #707070;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.showNewsLink:hover {
  color: #2e735f;
}

@media (max-width: 768px) {
  .content {
    padding-bottom: 0;
  }

  .slideTitle h6 {
    margin-top: 25px;
  }
}
